[Unit]
Description=Sonos Broker
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/sonos_broker start
#ExecStop=/usr/local/sbin/sonos_broker

[Install]
WantedBy=default.target